.banner{
    width: min(100%,1440px);
    height: 70vh;
    margin-inline:auto;
    margin-bottom: 50px;
}

.banner>img{
    width: 100%;
    height: 100%;
    margin-inline:auto;
    border-radius: 10px;
}