.gen-btn {
    display: inline-block;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 11px 32px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }
  
  .gen-btn.white {
    background-color: #fff;
    color: #2c2c2c;
    border: 3px solid #2c2c2c;
  }
  
  .gen-btn.white:hover {
    color: #38539A;
    border: 3px solid #38539A;
  }
  
  .gen-btn.black {
    background-color: #2c2c2c;
    color: #fff;
    border: 3px solid #2c2c2c;
  }
  
  .gen-btn.black:hover {
    background-color: #38539A;
    border: 3px solid #38539A;
    color: #fff;
  }
  